<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.pubnative.mediation">

    <application>

        <activity
            android:name="com.flurry.android.FlurryFullscreenTakeoverActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode">
        </activity>

    </application>

</manifest>
